<div th:fragment="book">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h4>Book</h4>
      
   <div style="font-size:13px;">| <a href="/category">Edit categories</a> | <a href="/group">Edit groups</a> |</div>  


<!--  Add booking input -->
<h5>Add record</h5>
<div class="table">
<div class="tr">
<form action="/book/add" method="post">
<span class="w3-text-grey td" style="width:100px;vertical-align:top;">

Amount <span th:text="${currency}"></span><br>
<input name="amount" style="width:100px;text-align:right" type="number" step="0.01">

<br><br>

<strong>IN/OUT</strong><br>
<select name="inout" style="width:65px;font-size:14px;">
<option value="" label="select"></option>
    <option value="in">In
    </option>
     <option value="out">Out
    </option>
</select>

</span><span class="w3-text-grey td" style="vertical-align:top;">

Description <span style="font-size:10px;">(not required)</span><br>
<input type="text" name="description" style="width:170px;">

<br> <br>

Select category<br>
<select name="categoryName" style="width:170px;font-size:14px;">
<option selected value="">Select category</option>
    <option
            th:each="categoryName : ${categories}"
            th:text="${categoryName.getCategoryName}"
            th:value="${categoryName.getCategoryName}">
    </option>
</select>

</span><span class="w3-text-grey td" style="vertical-align:top;">

Date<br>
<input type="text" name="addDate" th:value="${currentDate}" style="width:100px;">

<br> <br> <br>

<button type="submit" style="width:100px;font-size:14px;">Add record</button>

</span>
</form>
</div>
</div>

<br>
<strong>
		<span th:text="${message}"></span>
	</strong><br>
<!--  End add booking input -->

<h5>Filter on month / year</h5>

<!-- Filter input -->
<div class="table">
<div class="tr">
<form action="/book/filter" method="post">
<span class="td">
<select name="month" style="width:130px;">
    <option
            th:each="m : ${months}"
            th:text="${m.month}"
            th:value="${m.monthNumber}" th:selected="${ #strings.equals(m.monthNumber, month)}">
    </option>
    </select>
    &nbsp;
    <select name="year" style="width:70px;">
    <option
            th:each="y : ${years}"
            th:text="${y}"
            th:value="${y}" th:selected="${ #strings.equals(y, year)}">
    </option>
    </select>
 </span>
 <span class="td">
<button type="submit" style="width:100px;">Filter</button>
</span>
</form>
</div>
</div><br>
<!--  End filter input -->

<p>
<span th:text="${result}" style="font-weight:bold;"></span>
<p>

<h5><span th:text="${month_long}"></span> <span th:text="${year}"></span></h5>

<!-- Show bookings -->
<div class="table">
<div class="tr" th:each="book,index : ${books}" style="display:flex; flex-direction: row; justify-content: center; align-items: center">

<form action="/book/update" method="post">

<input th:value="${book.bookID}" name="bookID" type="hidden">
<span class="w3-text-grey td">
Date<br>
<input th:value="${book.date}" name="date" type="text" style="width:100px;">
</span><span class="w3-text-grey td" style="padding-left:2px;">
Amount <span th:text="${currency}"></span>
<br><input type="text" th:value="${#numbers.formatDecimal(book.amount,0,2,'COMMA')}" name="stramount" style="width:70px; text-align:right">
</span><span class="w3-text-grey td" style="padding-left:2px;">
Category<br>
<select name="categoryName" style="width:130px;">
    <option
            th:each="categoryName : ${categories}"
            th:text="${categoryName.getCategoryName}"
            th:value="${categoryName.getCategoryName}" th:selected="${ #strings.equals(categoryName.getCategoryName, book.getCategory.getCategoryName)}">
    </option>
</select>
</span>
<span class="w3-text-grey td">
Description<br>
<input th:value="${book.description}" name="description" style="width:150px;">
</span><span class="w3-text-grey td" style="width:110px">
<strong>Delete</strong>
 &nbsp; &nbsp;<input type="checkbox" th:id="${index.index}"  name="delete" th:onclick="'javascript:changeSubmitButton(' + ${index.index} + ')'">
</span><span class="w3-text-grey td" style="width:110px">
<button type="submit" th:id="${'submit'+index.index}" th:onclick="'javascript:show_alert(' + ${index.index} + ')'" style="width:100px;">Edit</button>
</span>
</form>
</div>
</div>
<!-- End show bookings -->

<br><br>

<!--  Delete month bookings -->
<form action="/book/deletebook" method="post">
<button type="submit" th:onclick="if(!(confirm('Are you sure you want to delete all bookings for the selected month?') )) return false" th:text="'Delete all bookings from '+${month_long}"></button>
</form>
<!--  End delete month bookings -->

    </div>
    
    <br>


</div>
</div>



</div>