<div th:fragment="category">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h4>My categories</h4>
 
 <h5>Add category</h5>
<div class="table">
<div class="tr">
<form action="/category/add" method="post">
<span class="w3-text-grey td">
<input type="text" name="categoryName" style="width:150px;">
</span><span class="w3-text-grey td">
<select name="groupName" style="width:130px;">
<option selected value="">Select group</option>
    <option
            th:each="groupName : ${groups}"
            th:text="${groupName.getGroupName}"
            th:value="${groupName.getGroupName}">
    </option>
</select>
</span>
<span class="w3-text-grey td">
<button type="submit" style="width:100px;">Add category</button>
</span>
</form>
</div>
</div>

<br>
<strong>
		<span th:text="${message}"></span>
	</strong><br><br>
     

<div class="table">
<div class="tr" style="display:flex; flex-direction: row; justify-content: left; align-items: center;">
<span  class="w3-text-grey td" style="width:175px;">Category name</span>
<span  class="w3-text-grey td" style="width:130px;">belongs to group</span>
<span  class="w3-text-grey td">&nbsp; </span>
<span  class="w3-text-grey td">&nbsp; </span>
</div>
<div class="tr" th:each="category, index: ${categories}" style="display:flex; flex-direction: row; justify-content: center; align-items: center">

<form action="/category/update" method="post">
<span class="w3-text-grey td">
<input th:value="${category.categoryID}" name="categoryID" type="hidden">
<input th:value="${category.categoryName}" name="categoryName" style="width:150px;">
</span>
<span class="w3-text-grey td">
<select name="groupName" style="width:130px;">
    <option
            th:each="groupName : ${groups}"
            th:text="${groupName.getGroupName}"
            th:value="${groupName.getGroupName}" th:selected="${ #strings.equals(groupName.getGroupName, category.getGroup.getGroupName)}">
    </option>
</select>
</span>
<span class="w3-text-grey td">
<strong>Delete</strong><br>
 &nbsp; &nbsp;<input type="checkbox" th:id="${index.index}"  name="delete" th:onclick="'javascript:changeSubmitButton(' + ${index.index} + ')'">
</span><span class="w3-text-grey td" style="width:110px">
<button type="submit" th:id="${'submit'+index.index}" th:onclick="'javascript:show_alert(' + ${index.index} + ')'" style="width:100px;">Edit</button>
</span>
</form>

</div>
</div>


    </div>
    
    <br>


</div>
</div>



</div>