<div th:fragment="category">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h4>My categories</h4>
     

<div class="table">
<div class="tr" th:each="category: ${categories}">

<form action="/category/update" method="post">
<span class="w3-text-grey td">
<input th:value="${category.categoryID}" name="categoryID" type="hidden"></input>
<input th:value="${category.categoryName}" name="categoryName" style="width:150px;"></input>
</span>
<span class="w3-text-grey td">
<button type="submit" style="width:100px;">Edit</button>
</span>
</form>

</div>
</div>

<strong>
		<span th:text="${message}"></span>
	</strong><br>


    </div>
    
    <br>


</div>
</div>



</div>