<div th:fragment="group">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h4>My groups</h4>


<div class="table">
<div class="tr">
<form action="/group/add" method="post">
<span class="w3-text-grey td">
<input type="text" name="groupName" style="width:150px;">
</span><span class="w3-text-grey td">
<button type="submit" style="width:100px;">Add group</button>
</span>
</form>
</div>
</div>

<strong>
		<span th:text="${message}"></span>
	</strong><br><br>

<div class="table">
<div class="tr" th:each="group: ${groups}" style="display:flex; flex-direction: row; justify-content: center; align-items: center">

<form action="/group/update" method="post">
<span class="w3-text-grey td">
<input th:value="${group.groupID}" name="groupID" type="hidden">
<input th:value="${group.groupName}" name="groupName" style="width:150px;">
</span>
<span class="w3-text-grey td" style="width:110px">
<button type="submit" style="width:70px;">Edit</button>
</span>
</form>

<form action="/group/delete" method="post">
<input th:value="${group.groupID}" name="groupID" type="hidden">
<button type="submit" style="width:70px;">Delete</button>
</form>
</div>
</div>

    </div>
    
    <br>


</div>
</div>



</div>