<div th:fragment="grouptotals">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h4>Group totals</h4>

<p>| <a href="/group"><strong>Edit groups</strong></a> |</p>

<p class="w3-text-grey">A group exist of one or more <a href="/category">categories</a>.<br>
You can <a href="/group">add your own groups</a>.</p>

<!--  Select month -->
<form action="/grouptotals/totals" method="post">
<select name="month" style="width:130px;">
    <option
            th:each="m : ${months}"
            th:text="${m.month}"
            th:value="${m.monthNumber}" th:selected="${ #strings.equals(m.monthNumber, month)}">
    </option>
    </select>&nbsp;
        <select name="year" style="width:70px;">
    <option
            th:each="y : ${years}"
            th:text="${y}"
            th:value="${y}" th:selected="${ #strings.equals(y, year)}">
    </option>
    </select>
<button type="submit" style="width:100px;">Submit</button>
</form><br>
<!--  End select month -->

<h4 th:text="${month_long}"></h4>

<!-- Totals -->
<div class="table">
<div class="tr"  th:each="group : ${groupedGroups}">

<span class="td" style="padding:6px;font-size:13px;width:190px;">
<span th:text="${group.getGroupName}"></span>
</span>

<span class="td" style="padding:6px;font-size:13px;text-align:right;">
<span th:text="${currency}"></span><span th:text="${#numbers.formatDecimal(group.getTotal,1, 'DEFAULT', 2, 'DEFAULT')}"></span>
</span>

</div>
</div>
<!--  End totals -->

</div>

</div>
</div>
</div>



</div>