<div th:fragment="home">

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Family Spend</h1>
  <p class="w3-xlarge">Track your family spendings</p>
  <form th:if="${isLoggedIn}==false" action="/signup"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button></form>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Where does your money go?</h1>
      <h5 class="w3-padding-32">Keep track of your money by tracking your cash flow.</h5>

      <p class="w3-text-grey">Enter your daily expenses.
	  Divide your transactions into groups and categories.
	  View the totals of your expenses and income in your family.
	  This way you know where your money is going and what you have left at the end of the month.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-money w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-book w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Keep it simple</h1>
      <h5 class="w3-padding-32">You don't have to use a spreadsheet anymore. Basic interface and easy to use</h5>

      <p class="w3-text-grey">Access from any computer or smartphone, wherever you are in the world.
	  You have to log in with your private account.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Program to track your family spendings</h1>
</div>


</div>