<div th:fragment="login">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h4>Login</h4>
     

<!--  Login form -->
<div style="max-width:400px; text-align:right; padding:16px;">
<form th:action="@{/login/submit}" method="post">
Email: <input type="email" name="userEmail"><br><br>
Password:  <input type="password" name="secret"><br>
<br>
<button type="submit">Log in</button>
</form>
<br>
<p>
<strong th:text="${message}" style="color:#FF4000"></strong>
</p>

<h5 style="text-align:left">New user? <a href="/signup" class="w3-text-grey;">Create your account here</a></h5>
<p style="text-align:left"><a href="/forgot_password" class="w3-text-grey;">Forgot your password?</a></p>

</div>
   

</div>
</div>
</div>


</div>