<div th:fragment="privacy">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">

     
<h4>Privacy Policy for FamilySpend</h4>

<p>At FamilySpend, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by FamilySpend and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your information such as name, first name and email address.</p>

<h2>User data</h2>

<p>User data is stored indefinitely.</p>
<p>User can delete his account and all his data.</p>
<p>User can ask to delete his account and all his data.</p>
<p>User password is encrypted.</p>

<h2>Third Party Privacy Policies</h2>

<p>FamilySpend's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h2>Contact Us</h2>

<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us contact@kennyverheyden.be</p>

</div>
</div>
</div>

</div>