<div th:fragment="signup">


<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
    
    <h4>Existing user? <a href="/login" class="w3-text-grey">login here</a></h4>
    
      <h4>Create your account</h4>
     
	<div style="max-width:400px;text-align: right; padding: 5px; font-family: verdana;">
		<form action="/signup/register" method="post">
		Email (userID):
		<input type="email" name="userEmail"><br><br>
		Name:
		<input type="text" name="name"><br><br>
		First name:
		<input type="text" name="firstName"><br><br>
		Currency:
			<select name="currencyFK" style="width:40px;">
   			 <option
            th:each="c : ${currencies}"
            th:text="${c.currencySymbol}"
            th:value="${c.currencyID}" th:selected="${currencyID==1}" th:label="' '+${c.currencySymbol}">
    		</option>
    		</select><br><br>
		New password:
		<input type="password" name="secret"><br><br>
		Confirm password:
		<input type="password" name="confirmSecret"><br><br>
		<button type="submit">Create account</button>
		</form>
		
		<br>
<p>
<strong th:text="${message}"></strong>
</p>
<br>

<p><a href="/privacy">Privacy Policy</a></p>

</div>

</div>
</div>

</div>
</div>